@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}
